<header>
  <h1>Network generator</h1>
</header>

<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="relate row">

        <ul class="nav nav-tabs">
          <li class="active">
            <a 
              data-toggle="tab" 
              href="#setting-menu"
            >
              <span class="glyphicon glyphicon-th-list"></span> 
              Generator 
            </a>
          </li>

          <li>
            <a 
              data-toggle="tab" 
              href="#upload-menu"
            >
              <span class="glyphicon glyphicon-upload"></span> 
              Upload
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="setting-menu" class="tab-pane fade in active">
            <%= render "forms/menu" %>            
          </div>

          <div id="upload-menu" class="tab-pane fade in">
            <%= render "forms/upload" %>
          </div>
        </div>

        <div id="results" class="hide">
          <div id="alpha-view"></div>
          <div id="diameter">
            <div class="input-group">
              <span class="input-group-addon">Diameter</span>
              <input value="" disabled="true" class: "form-control"></input>
            </div>
          </div>

          <div id="total-path">
            <div class="input-group">
              <span class="input-group-addon">Total shortest path</span>
              <input value="" disabled="true" class: "form-control"></input>
            </div>
          </div>

          <div id="average-path">
            <div class="input-group">
              <span class="input-group-addon">Average shortest path</span>
              <input value="" disabled="true" class: "form-control"></input>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="scroll-network" class="col-sm-9">
      <div id="network-container"></div>
    </div>
  </div>
</div>
