<header>
  <h1>Network generator</h1>
</header>

<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="relate row">

        <ul class="nav nav-tabs">
          <li class="active">
            <a 
              data-toggle="tab" 
              href="#setting-menu"
            >
              <span class="glyphicon glyphicon-th-list"></span> 
              Generator 
            </a>
          </li>

          <!-- <li>
            <a 
              data-toggle="tab" 
              href="#upload-menu"
            >
              <span class="glyphicon glyphicon-upload"></span> 
              Upload
            </a>
          </li> -->
        </ul>

        <div class="tab-content">
          <div id="setting-menu" class="tab-pane fade in active">
            <%= render "forms/menu" %>            
          </div>

         <!--  <div id="upload-menu" class="tab-pane fade in">
            <%= render "forms/upload" %>
          </div> -->
        </div>

        <div
          v-show="showResultPanel">
          <div
            v-if="nRandomLink > 0"
            class="input-group"
          >
            <span class="input-group-addon">View link random</span>
            <select
              v-model.number="viewLink"
              class="form-control"
            >
              <option value="0">0</option>
              <option
                v-for="i in nRandomLink"
                :value="i"
              >
                {{ i }}
              </option>
            </select>
          </div>

          <div class="input-group">
            <span class="input-group-addon">Diameter</span>
            <input :value="diameter" disabled="true" class="form-control">
          </div>

          <!-- <div class="input-group">
            <span class="input-group-addon">Total shortest path</span>
            <input value="" disabled="true" class="form-control">
          </div>

          <div id="average-path">
            <div class="input-group">
              <span class="input-group-addon">Average shortest path</span>
              <input value="" disabled="true" class="form-control"></input>
            </div>
          </div> -->

          <div
            v-for="length, index in averageRandomLinkLength"
            class="input-group"
          >
            <span class="input-group-addon">Average path of link {{ index + 1 }} </span>
            <input :value="length" disabled="true" class="form-control">
          </div>
        </div>
      </div>
    </div>

    <div id="scroll-network" class="col-sm-9">
      <div id="network-container"></div>
    </div>
  </div>
</div>
