<%= form_tag("/dashboards/upload", id: "upload", class: "form", remote: true, multipart: true) do %>
  
  <div class="input-group">
    <span class="input-group-addon">Geos file</span>
    <%= file_field_tag "file_geos", class: "btn btn-default" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Edges file</span>
    <%= file_field_tag "file_edges", class: "btn btn-default" %>
  </div>
  
  <%= submit_tag "Upload", class: "btn btn-primary" %>
<% end %>
